@mixin reset-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin flex-row {
    display: flex;
    flex-direction: row;
}

@mixin flex(
    $row: row,
    $justify: center,
    $align: center,
    $gap: 0,
    $wrap: nowrap
) {
    display: flex;
    flex-direction: $row;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
    flex-wrap: $wrap;
}
